{% extends "base.html" %}
{% block title %} Регистрация {% endblock %}
{% load static %}
{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
    <link rel="stylesheet" href="./pages/form.css">
{% endblock %}

{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Регистрация</h1>
    </div>
    <div class="form-container">
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <!--<div class="form__group">
                <label for="id_first_name" class="form__label">Имя</label>
                <div class="form__field-group">
                    <input type="text" name="first_name" id="id_first_name" class="form__input">
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_username" class="form__label">Имя пользователя</label>
                <div class="form__field-group">
                    <input type="text" name="username" id="id_username" class="form__input">
                    <span class="form__error">Имя пользователя и пароль не совпадают. Введите правильные данные.
                    </span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_email" class="form__label">Адрес электронной почты</label>
                <div class="form__field-group">
                    <input type="email" name="email" id="id_email" class="form__input">
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_password" class="form__label">Пароль</label>
                <div class="form__field-group">
                    <input type="password" name="password" id="id_password" class="form__input">
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue">Создать аккаунт</button>
            </div>
        </form>-->
                <div class="form__group">
                    <label for="id_username" class="form__label">Имя пользователя</label>
                    <div class="form__field-group">
                        <input type="text" name="username" id="id_username" class="form__input">
                        {% if form.username.errors %}
                            <span class="form__error">{{ form.username.errors }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="form__group">
                    <label for="id_email" class="form__label">Адрес электронной почты</label>
                    <div class="form__field-group">
                        <input type="email" name="email" id="id_email" class="form__input">
                        {% if form.email.errors %}
                            <span class="form__error">{{ form.email.errors }}</span>
                        {% endif %}

                    </div>
                </div>
                <div class="form__group">
                    <label for="id_password1" class="form__label">Пароль</label>
                    <div class="form__field-group">
                        <input type="password" name="password1" id="id_password1" class="form__input">
                        {% if form.password1.errors %}
                            <span class="form__error">{{ form.password1.errors }}</span>
                        {% endif %}
                        <!--<span class="form__input-info">Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</span>
                        <span class="form__input-info">Ваш пароль должен содержать как минимум 8 символов.</span>
                        <span class="form__input-info">Ваш пароль не может быть одним из широко распространённых паролей.</span>
                        <span class="form__input-info">Ваш пароль не может состоять только из цифр.</span>-->


                    </div>
                </div>
                <div class="form__group">
                    <label for="id_password2" class="form__label">Повторите пароль</label>
                    <div class="form__field-group">
                        <input type="password" name="password2" id="id_password2" class="form__input">
                        {% if form.password2.errors %}
                            <span class="form__error">{{ form.password2.errors }}</span>
                        {% endif %}

                    </div>
                </div>
                <div class="form__footer">
                    <button type="submit" class="button button_style_blue">Создать аккаунт</button>
                </div>
            </form>
    </div>
</main>
{%endblock%}
