.git/*
env/
venv/

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride
.vscode

*.sublime-project
*.sublime-workspace

media/

# Environments
.env
.idea

# Django db:
db.sqlite3
db.sqlite3-journal