  {% if page.has_other_pages %}
    <nav class="pagination" aria-label="Search results pages">
    <ul class="pagination__container">
      {% if page.has_previous %}
        <!--<li class="page-item">
          <a class="page-link" href="?page={{ page.previous_page_number }}">&laquo; Предыдущая</a>-->
          <li class="pagination__item">
            <a class="pagination__link link" href="?page={{ page.previous_page_number }}"><span class="icon-left"></span></a>
          </li>
      {% else %}
        <li class="pagination__item">
          <!--<span class="page-link">&laquo; Предыдущая</span>-->
          <span class="icon-left"></span>
        </li>
      {% endif %}
      {% for i in page.paginator.page_range %}
        {% if page.number == i %}
          <!--<li class="page-item active">
            <span class="page-link">{{ i }} <span class="sr-only">(текущая)</span>
            </span>
          </li>-->
        <li class="pagination__item pagination__item_active"><a class="pagination__link link">{{i}}</a></li>
        {% else %}
          <li class="page-item">
            <!--<a class="page-link" href="?page={{ i }}">{{ i }}</a>-->
            <a class="pagination__link link" href="?page={{ i }}">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if page.has_next %}
        <!--<li class="page-item">
          <a class="page-link" href="?page={{ page.next_page_number }}">Следующая &raquo;</a>
        </li>-->
        <li class="pagination__item"><a class="pagination__link link" href="?page={{ page.next_page_number }}"><span class="icon-right"></span></a></li>
      {% else %}
        <!--<li class="page-item disabled">
          <span class="page-link">Следующая &raquo;</span>
        </li>-->
        <li class="pagination__item">
            <span class="icon-right"></span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
            <!--<ul class="pagination__container">
                <li class="pagination__item"><a class="pagination__link link" href="#"><span class="icon-left"></span></a></li>
                <li class="pagination__item pagination__item_active"><a class="pagination__link link" href="#">1</a></li>
                <li class="pagination__item"><a class="pagination__link link" href="#">2</a></li>
                <li class="pagination__item"><a class="pagination__link link" href="#">3</a></li>
                <li class="pagination__item"><a class="pagination__link link" href="#">4</a></li>
                <li class="pagination__item"><a class="pagination__link link" href="#">5</a></li>
                <li class="pagination__item"><a class="pagination__link link" href="#"><span class="icon-right"></span></a></li>
            </ul>
        </nav>-->