<div class="card" data-id="120">
      <!-- Отображение картинки -->
      {% load thumbnail %}
      {% load user_filters %}
      {% thumbnail post.image "364x240" crop="center" upscale=True as img %}
        <a href="{% url 'recipe_detail' post.id %}" class="link" target="_blank"><img src="{{ img.url }}" alt="{{ post.name }}" class="card__image"></a>
      {% endthumbnail %}
        <div class="card__body">
            <a class="card__title link" href="{% url 'recipe_detail' post.id %}" target="_blank">{{post.name}}</a>
            <ul class="card__items">
                {%include "includes/tag.html"%}
            </ul>
            <div class="card__items card__items_column">
                <p class="card__text"><span class="icon-time"></span> {{post.time}} мин.</p>
                <p class="card__text"><span class="icon-user"></span> <a href="{%url 'authors-recipes' username=post.author.username %}" style="color: black">{{post.author.username}}</a></p>
            </div>
        </div>
        <div class="card__footer">
            {% if user.is_authenticated %}
              {% if user|bought_to:recipe %}
                <button class="button button_style_light-blue-outline" name="purchases"><span
                    class="icon-check button__icon"></span> Рецепт добавлен
                </button>
              {% else %}
                <button class="button button_style_light-blue" name="purchases" data-out><span
                    class="icon-plus button__icon"></span>Добавить в покупки
                </button>
              {% endif %}

            {% if user|fav_to:recipe %}
                <button class="button button_style_none" name="favorites"><span
                    class="icon-favorite icon-favorite_active"></span></button>
            {% else %}
                <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
            {% endif %}
            {%endif%}
        </div>
    </div>