<div class="card" data-id="{{ recipe.id }}">
      {% load thumbnail %}
      {% load user_filters %}
      {% load static %}
      {% thumbnail post.image "364x240" crop="center" upscale=True as img %}
        <a href="{% url 'recipe_detail' post.id %}" class="link" target="_blank"><img src="{{ img.url }}" alt="{{ post.name }}" class="card__image"></a>
      {% endthumbnail %}
        <div class="card__body" >
            <a class="card__title link" href="{% url 'recipe_detail' post.id %}" target="_blank">{{ post.name }}</a>
            <ul class="card__items">
                {% include "includes/tag.html" %}
            </ul>
            <div class="card__items card__items_column">
                <p class="card__text"><span class="icon-time"></span> {{ post.time }} мин.</p>
                <p class="card__text"><span class="icon-user"></span> <a href="{% url 'authors-recipes' username=post.author.username %}" style="color: black">{{ post.author.username }}</a></p>
            </div>
        </div>
        <div class="card__footer" data-author="{{ post.author.id }}">
            {% if user.is_authenticated %}
               {% csrf_token %}
              {% if user|bought_to:recipe %}
                <button class="button button_style_light-blue-outline" name="purchases" ><span
                    class="icon-check button__icon"></span> Рецепт добавлен
                </button>
              {% else %}
                <button class="button button_style_light-blue" name="purchases" data-out><span
                    class="icon-plus button__icon"></span>Добавить в покупки
                </button>
              {% endif %}


              {% include "includes/fav_but.html" with recipe=recipe %}
            {% endif %}
        </div>
    </div>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/CardList.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>