{% extends "base.html" %}
{%  load static %}
{% block title %}Ошибка 404{% endblock %}

{% block static_css %}<link rel="stylesheet" href="{% static 'pages/index.css' %}">{% endblock %}


{% block content %}
  <main class="main container">
    <h1>Ошибка 500</h1>
    <p class="custom-text-block">Ошибка на сервере, попробуйте обновить страницу или обратиться позже</p>
    <div class="custom-button-block">
      <a class="button button_style_blue" href="{% url 'index' %}">Перейти на главную</a>
    </div>


  </main>
{% endblock content %}
