{% extends "base.html" %}
{% block title %} Профиль автора {% endblock %}
{% load static %}
{% load user_filters %}
{% block static_css %}<link rel="stylesheet" href="{% static 'pages/index.css' %}">{% endblock %}
{% block content %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">{{ author }}</h1>
               <ul class="tags">
                <li class="tags__item">
                    {% include "includes/filter_tag.html" %}
                </li>
               </ul>

        </div>

        <div class="author-subscribe"  data-author={{ author.id }}>
          {% if user.is_authenticated %}
            {% if user|foll_to:recipe %}
                <p class="single-card__item"><button class="button button_style_light-blue button_size_subscribe" name="subscribe">Вы подписаны</button></p>
            {% else %}
                <p class="single-card__item"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></p>
            {% endif %}
          {% endif %}
        </div>
        <div class="card-list" data-author={{ author.id }}>
            {% for recipe in page %}
            {% include "includes/post_item.html" with post=recipe %}
            {% endfor %}
        </div>
    </main>

  <script src="{% static 'js/components/MainCards.js' %}"></script>

  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>
  <script src="{% static 'js/components/Subscribe.js' %}"></script>

  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/AuthorRecipe.js'%}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>

  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'authorRecipe.js' %}"></script>
{% endblock %}
