<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Foodgram-project{% endblock %}</title>

    {% block static_css %}
    {% endblock %}
</head>
<body class="body">
  <header class="header">
      {% include 'includes/nav.html' %}
  </header>
  <main class="main container">
          <div class="main__header">
              {% block content %}
              <!-- Содержимое страницы -->
              {% endblock %}
          </div>
          {% if page.has_other_pages %}
              {% include "includes/paginator.html" with page=page paginator=paginator%}
          {% endif %}
  </main>
{% include 'includes/footer.html' %}
</body>
</html>
